@model IEnumerable<Author>
@{
    ViewData["Title"] = "Index";
    int order = 1;
}

<a asp-action="Create" class="btn btn-outline-success">Create</a>
<table class="table text-center table-bordered my-4">
    <thead>
        <tr>
            <th>№</th>
            <th>Image
            <th>
            <th>Fullame</th>
            <th>Specialtyname</th>
            <th>Description</th>
            <th colspan="2">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(order++)</td>
                <td><img width="50" src="~/assets/images/@item.Image" /></td>
                <td>@item.Image</td>
                <td>@item.Fullname</td>
                <td>@item.SpecialtyName</td>
                <td>@item.Description</td>
                <td><a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a></td>
                <td><a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a></td>
            </tr>
        }
    </tbody>
</table>